* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.left {
  flex: 1;
  background-color: pink;
}

.logo {
  padding-bottom: 20px;
}

.image {
  flex: 1;
}

h1 {
  text-align: center;
  margin-top: 70px;
}

.right {
  flex: 1;
}

.leftinner {
  padding: 40px;
}

.rightinner {
  padding: 40px;
  padding-top: 70px;
}

#sign-in-form {
  background-color: white;
  flex: 1;
}

h2 {
  font-size: 40px;
  margin-bottom: 0px;
}

h3 {
  font-size: 15px;
  margin-top: 20px;
  font-weight: lighter;
  margin-bottom: 0;
}

h4 {
  font-size: 15px;
  color: pink;
  font-weight: 500;
  margin-top: 0;
}

.signup {
  display: flex;
  width: 100%;
  justify-content: center;
}

.google {
  padding-right: 0px;
}

.fb {
  padding-top: 20px;
  padding-left: 0;
}

h5 {
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
}

.input-group i {
  position: absolute;
  padding: 10px;
  padding-top: 6px;
}

.error-message {
  font-size: 10px;
  color: rgb(206, 74, 96);
  margin-top: 0;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group label input {
  font-size: 15px;
  color: rgb(42, 40, 40);
}

.input-group.error input {
  border-color: red;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-detail {
  width: 100%;
  padding: 0 30px;
  border-radius: 8px;
  outline: none;
  height: 30px;
  border: solid 2px rgb(192, 184, 184);
}

.success-icon,
.failure-icon {
  right: 0;
}

.failure-icon {
  color: red;
  visibility: hidden;
}

.success-icon {
  color: blue;
  visibility: hidden;
}

.button {
  width: 100%;
  margin-top: 13px;
  font-size: 20px;
  background-color: pink;
  border-color: pink;
  height: 45px;
  border-radius: 8px;
  color: white;
}
